body {
    background-color: rgb(216, 212, 212);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.main-text {
    font-size: 80px;
    font-weight: 700;
    padding: 16px;
}

.subtext {
    font-size: 25px;
    margin: 20px 60px;
    background-color: black;
    color: white;
    border-radius: 8px;
    padding: 20px;
}

img {
    width: 250px;
    height: 250px;
    opacity: 1;
    transition: 1s ease;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

img:hover {
    opacity: 0.5;
    transition: 1s ease;
}

.score-boards {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin: 30px;
}

.text,
.rectangle {
    font-size: 40px;
}

.rectangle {
    background-color: rgb(7, 66, 11);
    width: 200px;
    color: white;
    border-radius: 8px;
    padding: 20px;
    margin-top: 8px;
}

.reset {
    margin-top: 20px;
}